@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Apex";
  src: url("../public/fonts/Apex/ApexNew-Light.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Apex";
  src: url("../public/fonts/Apex/ApexNew-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Apex";
  src: url("../public/fonts/Apex/ApexNew-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Apex";
  src: url("../public/fonts/Apex/ApexNew-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Apex";
  background-color: #E5E3DF;
  color: #1A1A1A;
}